{{- if required "A valid appgw entry is required!" .Values.appgw }}
{{- end }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "application-gateway-kubernetes-ingress.configmapname" . }}
  labels:
    app: {{ template "application-gateway-kubernetes-ingress.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
data:
  APPGW_SUBSCRIPTION_ID: {{ required "A valid appgw entry is required!" .Values.appgw.subscriptionId }}
  APPGW_RESOURCE_GROUP:  {{ required "A valid appgw entry is required!" .Values.appgw.resourceGroup }}
  APPGW_NAME:            {{ required "A valid appgw entry is required!" .Values.appgw.name }}
  APPGW_VERBOSITY_LEVEL: "{{ .Values.verbosityLevel }}"
{{- if .Values.kubernetes }}
{{- if .Values.kubernetes.watchNamespace }}
  KUBERNETES_WATCHNAMESPACE:  "{{ .Values.kubernetes.watchNamespace }}"
{{- end }}
{{- end }}
  USE_PRIVATE_IP: "{{ .Values.appgw.usePrivateIP }}"
{{- if .Values.appgw }}
{{- if .Values.appgw.shared }}
  APPGW_ENABLE_SHARED_APPGW: "{{ .Values.appgw.shared }}"
{{- end }}
{{- end }}
