{{- if required "A valid appgw entry is required!" .Values.appgw }}
{{- end }}

{{- if required "please provide a value for appgw.name in the helm config." .Values.appgw.name }}
{{- end}}}

{{- if .Values.appgw.create }}
  {{- if required "Please provide appgw.subnetName or appgw.subnetId of an existing subnet. If you want AGIC to optionally create a new subnet, then also provide appgw.subnetPrefix." .Values.appgw.name }}
  {{- end}}}
{{- end -}}}}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "application-gateway-kubernetes-ingress.configmapname" . }}
  labels:
    app: {{ template "application-gateway-kubernetes-ingress.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
data:
  APPGW_SUBSCRIPTION_ID: {{ .Values.appgw.subscriptionId }}
  APPGW_RESOURCE_GROUP:  {{ .Values.appgw.resourceGroup }}
  APPGW_NAME:            {{ .Values.appgw.name }}
  APPGW_SUBNETPREFIX:    {{ .Values.appgw.subnetPrefix }}
  APPGW_SUBNETID:        {{ .Values.appgw.subnetId }}
  APPGW_SUBNETNAME:      {{ .Values.appgw.subnetName }}
  RELEASE_NAME:          {{ .Release.Name }}
  APPGW_VERBOSITY_LEVEL: "{{ .Values.verbosityLevel }}"
{{- if .Values.kubernetes }}
{{- if .Values.kubernetes.watchNamespace }}
  KUBERNETES_WATCHNAMESPACE: "{{ .Values.kubernetes.watchNamespace }}"
{{- end }}
{{- if .Values.kubernetes.httpServicePort }}
  HTTP_SERVICE_PORT: "{{ .Values.kubernetes.httpServicePort }}"
{{- end }}
{{- end }}
  USE_PRIVATE_IP: "{{ .Values.appgw.usePrivateIP }}"
{{- if .Values.appgw }}
{{- if .Values.appgw.shared }}
  APPGW_ENABLE_SHARED_APPGW: "{{ .Values.appgw.shared }}"
{{- end }}
{{- end }}
{{- if .Values.armAuth -}}
{{- if eq .Values.armAuth.type "aadPodIdentity"}}
  USE_MANAGED_IDENTITY_FOR_POD: "true"
{{- end }}
{{- end }}
{{- if .Values.appgw.create }}
  APPGW_ENABLE_DEPLOY_APPGATEWAY: "{{ .Values.appgw.create }}"
{{- end }}