{{- if required "A valid armAuth entry is required!" .Values.armAuth }}
{{- end}}

apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "application-gateway-kubernetes-ingress.fullname" . }}
  labels:
    app: {{ template "application-gateway-kubernetes-ingress.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "application-gateway-kubernetes-ingress.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "application-gateway-kubernetes-ingress.name" . }}
        release: {{ .Release.Name }}
        {{- if eq .Values.armAuth.type "aadPodIdentity"}}
        aadpodidbinding: {{ template "application-gateway-kubernetes-ingress.fullname" . }}
        {{- end }}
    spec:
      serviceAccountName: {{ template "application-gateway-kubernetes-ingress.serviceaccountname" . }}
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        readinessProbe:
          httpGet:
            path: /health/ready
        {{- if .Values.kubernetes }}
        {{- if .Values.kubernetes.healthProbeServicePort }}
            port: {{ .Values.kubernetes.healthProbeServicePort }}
        {{ else }}
            port: 8123
        {{- end}}
        {{ else }}
            port: 8123
        {{- end}}
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health/alive
        {{- if .Values.kubernetes }}
        {{- if .Values.kubernetes.healthProbeServicePort }}
            port: {{ .Values.kubernetes.healthProbeServicePort }}
        {{ else }}
            port: 8123
        {{- end}}
        {{ else }}
            port: 8123
        {{- end}}
          initialDelaySeconds: 15
          periodSeconds: 20
        {{- if eq .Values.armAuth.type "servicePrincipal"}}
        env:
          - name: AZURE_AUTH_LOCATION
            value: /etc/Azure/Networking-AppGW/auth/armAuth.json
        {{- end}}
        envFrom:
        - configMapRef:
            name: {{ template "application-gateway-kubernetes-ingress.configmapname" . }}
        {{- if eq .Values.armAuth.type "servicePrincipal"}}
        volumeMounts:
          - name: networking-appgw-k8s-azure-service-principal-mount
            mountPath: /etc/Azure/Networking-AppGW/auth
            readOnly: true
        {{- end}}
      {{- if eq .Values.armAuth.type "servicePrincipal"}}
      volumes:
        - name: networking-appgw-k8s-azure-service-principal-mount
          secret:
            secretName: networking-appgw-k8s-azure-service-principal
      {{- end}}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.image.pullSecrets }}
      {{- end }}
