---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: multiclusteringresses.networking.aks.io
spec:
  group: networking.aks.io
  names:
    kind: MultiClusterIngress
    listKind: MultiClusterIngressList
    plural: multiclusteringresses
    singular: multiclusteringress
    shortNames:
      - mci
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          description: MultiClusterIngress is the Schema for the multiclusteringress API
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
                of an object. Servers should convert recognized schemas to the latest
                internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
                object represents. Servers may infer this from the endpoint the client
                submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: MultiClusterIngressSpec defines the desired state of MultiClusterIngress
              type: object
              properties:
                defaultBackend:
                  type: object
                  properties:
                    resource:
                      type: object
                      properties:
                        apiGroup:
                          type: string
                        kind:
                          type: string
                        name:
                          type: string
                    service:
                      type: object
                      properties:
                        name:
                          type: string
                        port:
                          type: object
                          properties:
                            name:
                              type: string
                            number:
                              type: integer
                ingressClassName:
                  type: string
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      host:
                        type: string
                      http:
                        type: object
                        properties:
                          paths:
                            type: array
                            items:
                              type: object
                              properties:
                                backend:
                                  type: object
                                  properties:
                                    resource:
                                      type: object
                                      properties:
                                        apiGroup:
                                          type: string
                                        kind:
                                          type: string
                                        name:
                                          type: string
                                    service:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        port:
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                            number:
                                              type: integer
                                path:
                                  type: string
                                pathType:
                                  type: string
                tls:
                  type: array
                  items:
                    type: object
                    properties:
                      hosts:
                        type: array
                        items:
                          type: string
                      secretName:
                        type: string
            status:
              type: object
              properties:
                loadBalancer:
                  type: object
                  properties:
                    name:
                      type: string